<header>
<app-menu-bar></app-menu-bar>
</header>

<app-menu-tittle></app-menu-tittle>

<div class="container__articles">
    <div class="aticles__main">
        <app-big-card></app-big-card>
    </div>
    <div class="aticles__others">
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>
<h1>Novidades</h1>
<hr/>
<div class="container__articles">
    <div class="aticles__main">
        <app-big-card></app-big-card>
    </div>
    <div class="aticles__others">
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>